@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "tech";
  src: url("fontes/idroid.otf") format(opentype);
  font-weight: normal;
  font-style: normal;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte-destaque: "Bebas Neue", sans-serif;
  --fonte-tech: "tech", sans-serif;
}

body {
  background-color: var(--cor0);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-image: linear-gradient(to top, var(--cor5), var(--cor3));
  text-align: center;
  padding-top: 50px;
  color: white;

  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.252);
}

header > h1 {
  font-family: var(--fonte-destaque);
  font-size: 3.5em;
  margin: 0;
  font-weight: normal;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.441);
}

header > p {
  font-size: 1.2em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  margin: 0;
}

nav {
  background-color: var(--cor5);
  padding: 30px 10px 10px 10px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  margin: 0;
  color: var(--cor1);
  font-weight: bold;

  text-align: center;
  border-radius: 5px; 
  transition-duration: 0.5s;
}

nav a:hover {
  color: var(--cor5);
  background-color: var(--cor3);
  cursor: pointer;
}

main {
  background-color: white;
  margin: auto;
  padding: 20px;
  min-width: 320px;
  max-width: 900px;

  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.203);
}

article > h1 {
  font-family: "tech";
  font-weight: normal;
  color: var(--cor5);
  font-size: 2em;
  margin: 0;
}

h2 {
  font-family: "tech";
  color: var(--cor4);
  font-weight: normal;
  font-size: 1.5em;
  text-indent: 10px;

  background-image: linear-gradient(to right, var(--cor1), transparent);
}

main p {
  text-indent: 30px;
  text-align: justify;
  font-size: 1.1em;
  line-height: 2em;
}

a:hover {
  text-decoration: underline;
}

.link-externo {
  text-decoration: none;
  color: var(--cor5);
  background-color: var(--cor1);
  font-weight: bold;
  padding: 3px;
}

.link-externo::after {
  content: "\1F517";
}

.bugdroid {
  display: block;
  margin: auto;
}

strong {
  color: var(--cor5);
  font-weight: bold;
}

.video {
  background-color: var(--cor5);
  padding: 20px;
  padding-bottom: 56.5%;
  margin: 0px -20px;

  position: relative;
}

.video > iframe {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
}

aside {
  background-color: var(--cor1);
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 10px;

  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.312);
}

aside h3 {
  background-color: var(--cor4);
  font-size: 1.3em;
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;

  border-radius: 10px 10px 0px 0px;
}

aside > div {
  padding: 10px;
}

aside ul {
  list-style-type: "\2714\00A0\00A0";
  columns: 2;
}

footer {
  background-color: var(--cor5);
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 40px;
  font-size: 0.9em;
}

footer > p {
  margin: 0;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
  color: var(--cor1);
}
