/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  main {
    width: 80vw;
    height: 300px;
    display: flex;
  }

  main .fundo {
    width: 40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
  }

  main .login {
    border-radius: 0px 20px 20px 0px;
  }
}

/*Desktops*/
@media screen and (min-width: 992px) {
  main {
    width: 950px;
    height: 350px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
  }

  main .fundo {
    width: 50%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
  }

  main .login {
    width: 50%;
    height: 80%;
    border-radius: 15px 0px 0px 15px;
  }

  main p{
    font-size: 1.4em;
    padding: 10px;
  }

  form a{
    font-size: 0.8em;
  }

}
