@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

:root {
  --fonte1: Arial, Helvetica, sans-serif;
  --fonte2: "Passion One", sans-serif;
  --fonte3: "Sriracha", cursive;
}

* {
  font-size: 1em;
}

body {
  margin: 0;
  font-family: var(--fonte1);
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
}

header > h1 {
  font-family: var(--fonte2);
  margin: 0;
  font-variant: small-caps;
  font-size: 10vw;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
}

main p {
  font-family: var(--fonte3);
}

section {
  padding-top: 5vh;
  padding-bottom: 5vh;
  line-height: 2em;
  padding-left: 5vw;
  font-size: 3.5vw;
}

section > p {
  padding-bottom: 2em;
}

.imagem {
  box-shadow: inset 5px 5px 7px rgba(0, 0, 0, 0.426);
}

#img1 {
  background: black
    url(https://professorguanabara.github.io/projeto-cordel/imagens/background001.jpg)
    center right fixed;
  background-size: cover;
}

#img2 {
  background: black
    url(https://professorguanabara.github.io/projeto-cordel/imagens/background002.jpg)
    center left fixed;
  background-size: cover;
}

.imagem p {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px;
  color: white;
  display: inline-block;
  text-shadow: 1px 1px 1px black;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

footer a {
  text-decoration: none;
  margin: 0;
  font-weight: bold;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}
